.container {
  max-width: 990px;
  font-size: 14px;
  font-weight: "arial";
  line-height: 22px;
  background: rgb(187, 255, 236);
  height: 800px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.div-line {
  margin: 0 auto;
  border: 1px solid #000;
  width: 97%;
}
.auto-height {
  height: 100%;
}
[class^="row"] {
  background: rgb(151, 238, 230);
}
.header [class^="col"] {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;

  background: rgb(1, 42, 59);
  color: white;
}
.header .img-logo,
img {
  background: rgb(238, 231, 231);
  width: 100%;
}

.content-left [class^="col"] {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(0, 77, 60);
  color: white;
  min-height: 120px;
}
.content-right [class^="col"] {
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(1, 42, 59);
  color: #d5eeff;
}
.footer [class^="col"] {
 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(1, 42, 59);
  color: white;
}

.footer .img-footer {
  background-image: url(img/2019-10-04_20-21-22.png);
  background-size: cover;
  min-height: 200px;
}
.content-footer [class^="col"] {
  padding: 20px;
}

